<p>Aqui va una tabla con las citas que estan en la BD</p>
<hr>
<%= link_to  "Nueva cita", new_cita_path %>

<body>
    <section>
        <form action="http://127.0.0.1:3000/citas" method="GET">
            <table> 
                <ul>
                    <tr for="mascota">mascota:</tr><br>
                    <tr>edad:</tr><br>
                    <tr>raza:</tr><br>
                    <tr>fecha:</tr><br>
                    <tr>hora:</tr><br>
                    <tr>amo:</tr><br>

                </ul>
            </table>
        </form>
    </section>    
</body>
